/DSBackend/.idea
/DSBackend/target
/DSFrontend/.idea
/DSSpider/.idea
/DSFrontend/node_modules
/DSFrontend/package-lock.json
/DSBackend/src/main/resources/static/data.json
/DSBackend/src/main/resources/static/data1.json