body{
    width: 300px;
    height: 700px !important;
    margin: 0px !important;
    padding: 0;
    border: 0;
    overflow:auto;
    overflow-x: hidden;
    font-family: Roboto, serif;
}

.Search {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.Logo {
    user-select:none;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 200px;
    left: 400px;
}

.SearchImg img{
    user-select:none;
    position: relative;
    width: 30px;height:30px;
    left: 557px;
    bottom: 22px
}

.SearchBar {
    border: 1px solid #bdc3c7;
    height: 50px;
    width: 600px;
    position: relative;
    left: 295px;
    top: 250px;
    border-radius: 25px;
    transition: all 0.25s;
}

.SearchBar:hover {
    box-shadow: 1px 1px #636e72, 2px 2px #636e72, 3px 3px #636e72;
    transform: translateX(-3px);
    transition: all 0.25s;
}

.Logo div{
    font-size: 70px;
}

input{
    background:none;

    outline:none;

    border:0px;

}

.SearchInput {
    position: relative;
    left: 20px;
    top: 9px;
    height: 30px;
    font-size: 25px;
    font-family: Roboto, serif;
    width: 530px;
}

.SearchImgR img{
    user-select:none;
    position: relative;
    width: 30px;height:30px;
    left: 557px;
    bottom: 22px
}

.SearchBarR {
    border: 1px solid #bdc3c7;
    height: 50px;
    width: 600px;
    position: relative;
    left: 295px;
    top: 20px;
    border-radius: 25px;
    transition: all 0.25s;
}

.SearchInputR {
    position: relative;
    left: 20px;
    top: 9px;
    height: 30px;
    font-size: 25px;
    font-family: Roboto, serif;
    width: 530px;
}

.SearchBarR:hover {
    box-shadow: 1px 1px #636e72, 2px 2px #636e72, 3px 3px #636e72;
    transform: translateX(-3px);
    transition: all 0.25s;
}

.ArrowLeft {
    position: fixed;
    width: 70px;
    height: 70px;
    left: 10px;
    top: 350px
}

.ArrowLeft:hover {
    position: fixed;
    width: 70px;
    height: 70px;
    left: 10px;
    top: 350px;
    animation: shakeL 1s infinite
}

.ArrowRight:hover {
    position: fixed;
    width: 70px;
    height: 70px;
    right: 10px;
    top: 350px;
    animation: shakeR 1s infinite;
}



.ArrowRight {
    position: fixed;
    width: 70px;
    height: 70px;
    right: 10px;
    top: 350px;
}

@keyframes shakeR {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes shakeL {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0px);
    }
}

.line {
    background-color: #7f8c8d;
    position: relative;
    left: 150px;
    top: 40px;
    width: 900px;
    height: 2px;
}

.Content {
    display: flow;
    flex-direction: column;
    position: relative;
    left: 200px;
    top: 50px;
    width: 800px;
    height: 638px;
}

.NewsBox {
    border-radius: 3px;
    user-select:none;
    width: 99%;
    height: 170px;
    margin-bottom: 3px;
    font-family: Roboto, serif ;
    transition: all 0.25s;
    background-color: rgba(220, 220, 220, 0.54);
}

.NewsBox a {
    position: relative;
    top: 5px;
    left: 8px;
}

.NewsBox:hover {
    border-radius: 3px;
    user-select:none;
    width: 99%;
    height: 170px;
    margin-bottom: 3px;
    font-family: Roboto, serif ;
    background-color: #a1d6ff;
    transform: scale(1.01);
    transition: all 0.25s;
    float: none;
}

.Title{
    font-size: 30px;
    position: relative;
    left: 8px;
    color: #1e18ab;
    width: max-content;
    height: max-content;
    max-width: 700px;
    white-space: nowrap;/*设置不换行*/
    overflow: hidden; /*设置隐藏*/
    text-overflow: ellipsis; /*设置隐藏部分为省略号*/
}

.Title:hover{
    font-size: 30px;
    position: relative;
    left: 8px;
    color: #1e18ab;
    text-decoration: underline;
    width: max-content;
    height: max-content;
    max-width: 700px;
    white-space: nowrap;/*设置不换行*/
    overflow: hidden; /*设置隐藏*/
    text-overflow: ellipsis; /*设置隐藏部分为省略号*/
}

.PickUp {
    position: relative;
    left: 8px;
    font-size: 20px;
    max-height: 80px;
    overflow: hidden;
    width: 760px;
    margin-bottom: 6px;
    text-overflow: ellipsis;
}

.Time {
    position: relative;
    left: 640px;
    bottom: 5px
}

.Article {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 800px;
    left: 190px;
    top: 70px
}

.TitleShow {
    font-size: 60px;
}

.InfoShow {
    color: #636e72;
}

.ConShow {
    position: relative;
    top: 10px;
    width: 780px;
    margin-bottom: 30px;
    align-items: center;
}

.Buttons {
    display: flex;
    position: relative;
    left: 320px;
    line-height: 30px;
}

.Buttons button {
    margin-left: 4px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #74b9ff;
    border-radius: 15px;
}

.Buttons button:hover{
    margin-left: 4px;
    width: 30px;
    height: 30px;
    border: 1px solid #74b9ff;
    border-radius: 15px;
}

.Buttons button:active{
    background-color: #74b9ff;
    transform: translate(0px,1px);
    transition: all 0.1s;
}

.LineShow {
    background-color: #636e72;
    width: 780px;
    height:2px;
    margin-top: 7px;
}

.WebView {
    border: 1px solid #b2bec3;
    width: 1195px;
    height: 766px;
}

.ButtonBack{
    border: 1px solid #dfe6e9;
    background-color: #dfe6e9;
    position: fixed;
    bottom: 680px;
    width: 50px;
    left: 12px;
    height: 50px;
    border-radius: 25px;
    transition: all 0.1s;
}

.ButtonBack:active{
    border: 1px solid #636e72;
    background-color: #636e72;
    position: fixed;
    bottom: 680px;
    width: 50px;
    left: 12px;
    height: 50px;
    border-radius: 25px;
    transform: translate(0px,1px);
    transition: all 0.1s;
}

.ButtonBack img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 3px;
}

.Url {
    position: absolute;
    bottom: 465px;
    width: 160px;
    left: 205px;
    color: #1e18ab;
    white-space: nowrap;/*设置不换行*/
    overflow: hidden; /*设置隐藏*/
    text-overflow: ellipsis; /*设置隐藏部分为省略号*/
}

.Url:hover {
    position: absolute;
    bottom: 465px;
    left: 205px;
    width: 160px;
    color: #1e18ab;
    white-space: nowrap;/*设置不换行*/
    overflow: hidden; /*设置隐藏*/
    text-overflow: ellipsis; /*设置隐藏部分为省略号*/
    text-decoration: underline;
}

img{
    max-width : 100% !important;
    max-height: 500px !important;
}

video{
    max-width : 100% !important;
}


